services:

  klinik:
    build: ./php
    image: klinik_php:latest
    container_name: klinik
    hostname: klinik
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
      - ./php/www.conf:/usr/local/etc/php-fpm.d/www.conf
    depends_on:
      - db

  db:
    image: mariadb:10.2
    container_name: db_klinik
    restart: unless-stopped
    tty: true
    ports:
      - "13306:3306"
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf.d:/etc/mysql/conf.d:ro
    environment:
      MYSQL_USER: djambred
      MYSQL_PASSWORD: p455w0rd1!.
      MYSQL_ROOT_PASSWORD: p455w0rd
      TZ: Asia/Jakarta
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    
  nginx_klinik:
    build: ./nginx
    image: nginx_klinik:latest
    container_name: nginx_klinik
    hostname: nginx_klinik
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - klinik
